

body {
  color: rgb(36, 36, 36);
  font-family: Raleway !important;
  margin: 0;  
}

main {
  box-sizing: border-box;
  margin: 1rem;
}
header{
  box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
footer{
  box-sizing: border-box;
  padding: 1rem 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  
}
footer p{
  text-align: center;
}

.title {
  font-weight: 700;
  letter-spacing: 2px;
  color: #f29018;
  font-size: 2.5rem;
}
nav{
  display: flex;
  gap: 0.5rem;
  margin-right: 0;
  margin-left: auto;
 
}
.smaller-nav{
  display: none;
}
.nav-link{
  color: black;
  font-size: 1.25rem;
}
.play-now:hover{
background-color: rgba(242, 144, 24, 0.5)
}
.play-now{
  background-color: rgb(242, 144, 24);
  padding: 0.5rem;
  border-radius: 2px;
  text-decoration: none;
}


.problem-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: max-content;
  gap: 1rem;
}

.problem-body {
  width: 75%;
  max-width: 900px;
}

.content {
  line-height: 2.25rem;
  font-size: 1.25rem;
}

.king {
  max-height: 280px;
  width: height;
  border-radius: 50%;
  background-color: rgba(255, 137, 19, 0.2);
  padding: 1rem;
}

.h3 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 3.5rem;
  color: #eae9e9;
  background-color: #242424;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.gameplay-img {
  height: 100%;
  width: 100%;
}

.msg {
  color: #f29018;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.start {
  background-color: rgb(36, 36, 36);
  color: white;
  margin: auto;
  padding: 0.5rem 1.25rem;
  font-family: Raleway;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.content-rule {
  text-align: center;
  max-width: 700px;
  margin: 2rem auto;
  font-weight: 700;
}

.start:hover {
  background-color: rgba(36, 36, 36, 0.95);

}

.planet-container{
  margin-bottom: 1rem;
  padding: 2rem 0;
  position: relative; 
}

.planet-container:hover{
  border:  1px solid rgba(0, 0, 0, 0.1); 
  cursor: pointer; 
}

.planet-img {
  height: 180px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center; 
 
}

.planet-info-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.2rem 2rem; 
  
  font-size: larger;
  
}

.planet-name,
.planet-info {
  text-align: center;
  margin: 0;
 
}
.planet-info-body{
  color: #0d0d0d;
  background-color: rgba(255, 252, 252, 0.4);
  padding: 0.25rem;
  border-radius: 5px;
}

.planet-name {
  font-weight: 700;
  font-size: larger;
}
.main-container{
  width: 100vw;
}
.modal-container{
  overflow: hidden;
  top: 0;
  left: 0;
 position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal{
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
   margin: auto;
  height: max-content;
  background-color: white;
  max-width: 600px;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.heading-modal{
  text-align:center;
}
.resize{
  width: 75px;
  height: 75px;
}
.planet-info-container-modal{
  position: static;
  color: #242424;
  font-size: medium;
  margin: 0.5rem 0;
}


.all-v-div{
  width: 100%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 0.5rem;
}

.v-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; 
  cursor: pointer;
}
.v-div:hover{
  border: 1px solid rgb(94, 86, 94);

}
.v-fade,
.p-fade{
  filter: opacity(0.3);
  cursor: not-allowed;
  pointer-events:none;
}

.p-fade:hover{
  border: none
}


.v-img{
  height: 55px;
  margin-bottom: 0;
  padding-top: 0.1rem;
}
.v-name,
.v-info {
  text-align: center;
  margin: 0.25rem;

}
.v-info{
  background-color: #f9f6f3;
  border-radius: 10px;
  padding: 0.75rem;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  
}
.no-v-msg{
   text-align: center;
   margin-top: -2rem;
   font-size: 0.75rem;
}
.result-container{
 display: flex;
 height:  80vh;
 justify-content: center;
 align-items: center;
}
.result-box{
  background-color:rgba(242, 144, 24, 0.7);
  padding: 2rem;
  border-radius: 5px;
  color:  rgba(0, 0, 0, 0.9);;
}
.result-box p {
  text-align: center;
  font-size: 1.25rem;
}
.result-box h4{
  text-align: center;
  font-size: 1.5rem;
}
.result-box button{
  display: flex;
  justify-content: center;
  cursor: pointer;
 text-align: center;
 margin: auto;
 border-radius: 3px;
 border: none;
 font-size: 1.15rem;
 background-color:#0d0d0d;
 padding: 0.45rem 0.75rem;
 color:#eae9e9;
 letter-spacing: 3px;
}
.result-box button:hover{
  background-color:rgb(13, 13, 13,0.8);
}


@media(max-width: 800px) {
  .problem-div {
    display: flex;
    flex-direction: column;
  }

  .problem-body {
    width: 95%;
  }

  .title {
    font-size: 1.75rem;
  }

  main {
    padding: 1rem 0rem;
  }

  .king {
    height: 180px;
  }
}
@media(max-width: 450px){
  .modal{
    height: 100%;
  }
  .larger-nav{
    display: none;
  }
  .smaller-nav{
    display: block;
  }
}