body {
  color: #242424;
  font-family: Raleway !important;
}

main {
  padding: 1rem;
}

.title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #f29018;
}

.problem-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 1rem;
}

.problem-body {
  width: 60%;
  max-width: 700px;
}

.content {
  line-height: 1.95rem;
  font-size: 1.25rem;
}

.king {
  height: 180px;
  width: height;
  border-radius: 50%;
  background-color: rgba(255, 137, 19, 0.2);
  padding: 1rem;
}

.h3 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #fff;
  background-color: #242424;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gameplay-img {
  height: 100%;
  width: 100%;
}

.rule {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(36, 36, 36);
  letter-spacing: 2px;
  line-height: 2rem;
  max-width: 700px;
  margin: 2rem auto;
}

.msg {
  color: #f29018;
}

.start {
  background-color: rgb(36, 36, 36);
  color: white;
  margin: auto;
  padding: 0.5rem 1.25rem;
  font-family: Raleway;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content-rule {
  text-align: center;
  max-width: 700px;
  margin: 2rem auto;
}

.start:hover {
  background-color: rgba(36, 36, 36, 0.95);
  ;
}

@media(max-width: 600px) {
  .problem-div {
    display: flex;
    flex-direction: column;
  }

  .problem-body {
    width: 95%;
  }
}