body {
  color: rgb(36, 36, 36);
  font-family: Raleway !important;
}

main {
  padding: 1rem 3rem;
}

.title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #f29018;
  font-size: 2.5rem;
}

.problem-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: max-content;
  gap: 1rem;
}

.problem-body {
  width: 75%;
  max-width: 900px;
}

.content {
  line-height: 2.25rem;
  font-size: 1.25rem;
}

.king {
  max-height: 280px;
  width: height;
  border-radius: 50%;
  background-color: rgba(255, 137, 19, 0.2);
  padding: 1rem;
}

.h3 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 3.5rem;
  color: #eae9e9;
  background-color: #242424;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.gameplay-img {
  height: 100%;
  width: 100%;
}



.msg {
  color: #f29018;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.start {
  background-color: rgb(36, 36, 36);
  color: white;
  margin: auto;
  padding: 0.5rem 1.25rem;
  font-family: Raleway;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content-rule {
  text-align: center;
  max-width: 700px;
  margin: 2rem auto;
  font-weight: 700;
}

.start:hover {
  background-color: rgba(36, 36, 36, 0.95);

}

.planet-img {
  height: 150px;
  width: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.planet-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.5rem;
  width: max-content;
  border-radius: 5px;
  padding: 0.2rem 2rem;
  background-color: rgba(36, 36, 36, 0.05);
}

.planet-name,
.planet-info {
  text-align: center;
  margin: 0;

}

.planet-name {
  font-weight: 700;
  font-size: larger;
}




@media(max-width: 800px) {
  .problem-div {
    display: flex;
    flex-direction: column;
  }

  .problem-body {
    width: 95%;
  }

  .title {
    font-size: 1.75rem;
  }

  main {
    padding: 1rem 0rem;
  }

  .king {
    height: 180px;
  }
}